In [1]:
import pandas as pd

## Read data from html url

In [14]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') [0]

In [16]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

# identify  and cells with 'Not assigned values'

In [17]:
No_values = df[df['Borough'] == 'Not assigned'].index

In [18]:
len(No_values)

77

In [19]:
df.drop(No_values, inplace = True)

# check that Neighborhood has no NAN values

In [32]:
df['Neighborhood'].isnull().value_counts()

False    103
Name: Neighborhood, dtype: int64

# Number of rows in the dataframe

In [33]:
df.describe()

       Postal code     Borough Neighborhood
count          103         103          103
unique         103          10           98
top            M5E  North York    Downsview
freq             1          24            4