In [150]:
import pandas as pd

## Read data from html url

In [151]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M') [0]

In [152]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

# identify  and cells with 'Not assigned values'

In [153]:
No_values = df[df['Borough'] == 'Not assigned'].index

In [154]:
len(No_values)

77

In [156]:
df.drop(No_values, inplace = True)

# check that Neighborhood has no NAN values

In [179]:
df['Borough'].isnull().value_counts()

False    103
Name: Borough, dtype: int64

In [189]:
len(df['Postal code'].unique())

103

In [188]:
df.isnull().head()

   Postal code  Borough  Neighborhood
2        False    False         False
3        False    False         False
4        False    False         False
5        False    False         False
6        False    False         False

In [96]:
dp = df['Neighborhood'].duplicated()

# Number of rows in the dataframe

In [197]:
df.shape

(103, 3)

In [160]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [169]:
df_coord.drop('Postal Code', axis =1, inplace = True)

In [170]:
df_coord.head()

    Latitude  Longitude
0  43.806686 -79.194353
1  43.784535 -79.160497
2  43.763573 -79.188711
3  43.770992 -79.216917
4  43.773136 -79.239476

In [178]:
len(df_coord['Latitude'])

103

In [173]:
data = pd.concat([df, df_coord], axis =1)

In [199]:
data.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North,NaN,NaN
165,M4Y,Downtown Toronto,Church and Wellesley,NaN,NaN
168,M7Y,East Toronto,Business reply mail Processing CentrE,NaN,NaN
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...,NaN,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...,NaN,NaN

In [201]:
data.dropna().tail()

,Postal code,Borough,Neighborhood,Latitude,Longitude
95,M6N,York,Runnymede / The Junction North,43.643515,-79.577201
98,M9N,York,Weston,43.706876,-79.518188
99,M1P,Scarborough,Dorset Park / Wexford Heights / Scarborough To...,43.696319,-79.532242
100,M2P,North York,York Mills West,43.688905,-79.554724
102,M4P,Central Toronto,Davisville North,43.706748,-79.594054

In [195]:
data.shape

(138, 5)